* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: darkslategray;
  background: papayawhip;
}

.cardList {
  gap: 20px;
}

.card {
  width: 200px;
  min-height: 100px;
  background: lightblue;
  margin: 20px auto;
  padding: 20px;
}
